// fonts
$font-family-roman:           HumanstRoman, "Helvetica Neue", Arial, sans-serif !default;
$font-family-italic:          HumanstItalic, "Helvetica Neue", Arial, sans-serif !default;
$font-family-bold:            HumanstBold, "Helvetica Neue", Arial, sans-serif !default;
$font-family-black:           HumanstBlack, "Helvetica Neue", Arial, sans-serif !default;
$font-family-light:           HumanstLight, "Helvetica Neue", Arial, sans-serif !default;
$font-family-light-italic:    HumanstLightItalic, "Helvetica Neue", Arial, sans-serif !default;
$font-family-bold-italic:     HumanstBoldItalic, "Helvetica Neue", Arial, sans-serif !default;
$font-family-cn-regular:      HumanstCnRegular, "Helvetica Neue", Arial, sans-serif !default;
$font-family-cn-bold:         HumanstCnBold, "Helvetica Neue", Arial, sans-serif !default;
$font-family-cn-black:        HumanstCnBlack, "Helvetica Neue", Arial, sans-serif !default;
$font-family-bt-roman:        HumanstBtRoman, "Helvetica Neue", Arial, sans-serif !default;
$font-family-bt-light:        HumanstBtLight, "Helvetica Neue", Arial, sans-serif !default;

$font-family-default: $font-family-roman !default;

// colors
$c-gray: #545454;
$c-black: #010101;
$c-white: #fefefe;
// $light-gray: #666566;
$c-light-dark: #454545;
$c-green: #01dec1;
$c-green-medium: #2f8e8b;
$c-light-green: #acc7c6;
$c-medium-dark: #333333;
$c-light-gray: #939393;
$c-meidum-gray: #626262;
$c-dark-gray: #202020;

$c-bullet: #858586;
