footer#main-footer.text-center
  .container-fluid
    .social-content
      h4 SÍGUENOS EN:
      include ./social-links.pug
    .content-footer
      p Av. Contralmirante Montero (Ex Alberto Del Campo) Nº 421 Of. 6D – Magdalena del Mar

include ./scripts.pug
