footer#main-footer.text-center
  .container-fluid
    .social-content
      h4 SÍGUENOS EN:
      ul.social-links
        li
          a(href="#",target="_blank")
            img(src="img/facebook.png")
        li
          a(href="#",target="_blank")
            img(src="img/twitter.png")
        li
          a(href="#",target="_blank")
            img(src="img/instagram.png")
        li
          a(href="#",target="_blank")
            img(src="img/youtube.png")
        li
          a(href="#",target="_blank")
            img(src="img/linkedin.png")
    .content-footer
      p Av. Contralmirante Montero (Ex Alberto Del Campo) Nº 421 Of. 6D – Magdalena del Mar

include ./scripts.pug
