nav(class="navbar navbar-expand-md p-0")
  .menu-logo.force-white
    a.link-logo(href="./")
      include ./logo.pug

  #burger-menu.ml-auto.d-block.d-md-none.collapsed(data-toggle="collapse",data-target="#navbarMain",aria-controls="navbarMain",aria-expanded="false",aria-label="Toggle navigation")
    .nav-icon
      span
      span
      span

  div(class="collapse navbar-collapse",id="navbarMain")
    ul(class="navbar-nav navbar-custom justify-content-end align-items-center")
      mixin menu-item(href,name)
        li
          a(href=href)= name
      +menu-item('index.html','Inicio')
      +menu-item('nosotros.html','Nosotros')
      +menu-item('servicios.html','Servicios')
      +menu-item('portafolio.html','Portafolio')
      +menu-item('contacto.html','Contacto')
    .d-flex.d-md-none.justify-content-center
      nav.menu-footer
        p Síguenos en:
        include ./social-links.pug
