ul.social-links
  li
    a(href="#",target="_blank")
      include ./icons/facebook.pug
  li
    a(href="#",target="_blank")
      include ./icons/twitter.pug
  li
    a(href="#",target="_blank")
      include ./icons/instagram.pug
  li
    a(href="#",target="_blank")
      include ./icons/linkedin.pug
  li
    a(href="#",target="_blank")
      include ./icons/google-plus.pug