.btn {
  cursor: pointer;
  transition: .2s ease-out;
	@include transition(.5s);
  &.btn-black {
    background-color: $c-dark-gray;
    color: white;
    border-radius: 0;
  }
  &.btn-green {
  	background-color: $c-green-medium;
  	color: white;
  	border-radius: 0;
  	&:hover {
  		background-color: rgba($c-green-medium, .5);
  	}
  }
  &.btn-transparent {
  	background-color: transparent;
  	color: white;
  	border: 1px solid white;
  	border-radius: 0;
  	&:hover {
  		background-color: $c-green-medium;
      border-color: $c-green-medium;
  	}
  }
  &.btn-white {
    border: 1px solid #34495e;
    font-size: 1rem;
    padding: .75em .8em;
    border-radius: 3px;
    background-color: rgba(52, 73, 94, 0);
    &.active, &:hover, &:active {
      background-color: #34495e;
      color: #fff;
      text-decoration: none;
    }
  }
}
