@font-face {
    src: url("../fonts/Humanst-Roman.ttf") format("truetype");
    font-family: HumanstRoman;
}

@font-face {
    src: url("../fonts/Humanst-Italic.ttf") format("truetype");
    font-family: HumanstItalic;
    font-style: italic;
}

@font-face {
    src: url("../fonts/Humanst-Bold.ttf") format("truetype");
    font-family: HumanstBold;
    font-weight: bold;
}

@font-face {
    src: url("../fonts/Humanst-Black.ttf") format("truetype");
    font-family: HumanstBlack;
    font-weight: bolder;
}

@font-face {
    src: url("../fonts/Humanst-Light.ttf") format("truetype");
    font-family: HumanstLight;
    font-weight: lighter;
}

@font-face {
    src: url("../fonts/Humanst-Light-Italic.ttf") format("truetype");
    font-family: HumanstLightItalic;
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    src: url("../fonts/Humanst-Bold-Italic.ttf") format("truetype");
    font-family: HumanstBoldItalic;
    font-weight: bold;
    font-style: italic;
}

@font-face {
    src: url("../fonts/Humanst-Cn-Regular.ttf") format("truetype");
    font-family: HumanstCnRegular;
}

@font-face {
    src: url("../fonts/Humanst-Cn-Bold.ttf") format("truetype");
    font-family: HumanstCnBold;
    font-weight: bold;
}

@font-face {
    src: url("../fonts/Humanst-Cn-Black.ttf") format("truetype");
    font-family: HumanstCnBlack;
    font-weight: bolder;
}

@font-face {
    src: url("../fonts/Humanst-Bt-Roman.ttf") format("truetype");
    font-family: HumanstBtRoman;
}

@font-face {
    src: url("../fonts/Humanst-Bt-Light.ttf") format("truetype");
    font-family: HumanstBtLight;
    font-weight: lighter;
}
