body {
  font-family: $font-family-default;
  font-size: 15px;
  // background-color: gray;
}

body, html {
  height: 100%;
}

body {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-family: $font-family-default;
}

p {
  margin: 0;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.full-section {
  height: 100%;
  width: 100%;
  position: relative;
}

.full-width {
  width: 100%;
  padding: 0;
}

.fluid-section {
  height: auto;
  width: 100%;
  position: relative;
}

.fluid-full-section {
  height: auto;
  width: 100%;
  position: relative;
  @include media-breakpoint-up(md) {
    height: 100%;
  }
}

.d-table {
  display: table;
  width: 100%;
  height: 100%;
  .d-table-cell {
    display: table-cell;
    vertical-align: middle;
  }
}

.content-page {
  @include media-breakpoint-up(md) {
    padding-top: 125px;
  }
}

.main-wrapper {
  height: 100%;
  position: relative;
  padding: 100px 0;
  @include media-breakpoint-up(md) {
    padding: 0;
  }
  &.main-sm-wrapper {
    padding: 50px 0;
    @include media-breakpoint-up(md) {
      padding: 0;
    }
  }
}

.swiper-container {
  &.swiper-button-white {
    .swiper-button-next {
      background-image: url("../images/next-white.png");
    }
    .swiper-button-prev {
      background-image: url("../images/back-white.png");
    }
  }
}

.swiper-button-black {
  .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
  }
  .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
  }
}

h3.block-black {
  text-align: center;
  color: $c-green-medium;
  background-color: black;
  font-family: $font-family-bold;
  font-size: 22px;
  padding: .65em 0;
}