body {
  font-family: Arial, Helvetica;
  font-size: 15px;
  // background-color: gray;
}

body, html {
  height: 100%;
}

body {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

p {
  margin: 0;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.full-section {
  height: 100%;
  width: 100%;
  position: relative;
}

.full-width {
  width: 100%;
  padding: 0;
}

.fluid-section {
  height: auto;
  width: 100%;
  position: relative;
}

.fluid-full-section {
  height: auto;
  width: 100%;
  position: relative;
  @include media-breakpoint-up(md) {
    height: 100%;
  }
}

.d-table {
  display: table;
  width: 100%;
  height: 100%;
  .d-table-cell {
    display: table-cell;
    vertical-align: middle;
  }
}

.content-page {
  @include media-breakpoint-up(md) {
    padding-top: 125px;
  }
}