.boxes-services {
  position: relative;
  @include media-breakpoint-up(md) {
    &.left-animate {
      .box-service {
        &.box-architecture {
          width: calc( 100% + 55px);
          .box-service-top {
            opacity: 1;
          }
        }
        &.box-construction {
          width: 0;
          &:before {
            left: 0;
          }
        }
        .box-service-top .box-servie-top-content {
          z-index: 1;
        }
        .box-service-wrap {
          z-index: 0;
        }
      }
    }
    &.right-animate {
      .box-service {
        &.box-architecture {
          width: 0;
          &:after {
            right: 0;
          }
        }
        &.box-construction {
          width: calc( 100% + 55px);
          .box-service-top {
            margin-left: 55px;
            opacity: 1;
          }
        }
        .box-service-top .box-servie-top-content {
          z-index: 1;
        }
        .box-service-wrap {
          z-index: 0;
        }
      }
    }
  }
  .box-service {
    height: auto;
    @include media-breakpoint-up(md) {
      @include transition(1s);
      width: 50%;
      height: 500px;
      // padding: 145px 0;
    }
    .box-service-top {
      position: absolute;
      left: 40px;
      top: 40px;
      opacity: 0;
      @include transition(opacity .5s ease-in-out);
      img, svg {
        height: 40px;
        float: left;
      }
      h3 {
        margin-left: 15px;
        line-height: 40px;
        font-size: 20px;
        font-family: $font-family-bold;
        color: white;
        display: inline-block;
      }
      .box-servie-top-content {
        position: relative;
        z-index: -1;
        .service-back {
          position: absolute;
          right: -60px;
          top: 0;
          a {
            display: block;
            padding: 10px;
          }
          img {
            height: 20px;
            float: none;
          }
        }
      }
    }
    .box-service-wrapper {
      @include media-breakpoint-up(md) {
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        @include transform(translateY(-50%));
      }
    }
    &.box-architecture {
      background-color: $c-light-gray;
      position: relative;
      @include media-breakpoint-up(md) {
        &:after {
          @include transition(1s);
          position: absolute;
          content: "";
          border-color: transparent transparent transparent $c-light-gray;
          border-width: 250px 0 250px 110px;
          border-style: solid;
          right: -55px;
          top: 0;
          bottom: 0;
          z-index: 1;
        }
      }
    }
    &.box-construction {
      background-color: $c-meidum-gray;
      @include media-breakpoint-up(md) {
        position: absolute;
        top: 0;
        right: 0;
        &:before {
          @include transition(1s);
          position: absolute;
          content: "";
          width: 55px;
          background-color: $c-meidum-gray;
          top: 0;
          left: -55px;
          bottom: 0;
        }
      }
    }
    .box-service-wrap {
      max-width: 450px;
      margin: 0 auto;
      text-align: center;
      position: relative;
      z-index: 2;
      figure {
        margin: 0;
      }
      @include media-breakpoint-down(sm) {
        opacity: 1;
      }
      @include media-breakpoint-up(md) {
        height: 210px;
      }
      .box-service-wrap-content {
        padding: 20px 0;
        @include media-breakpoint-up(md) {
          cursor: pointer;
          padding: 0;
          &.left-space {
            @include transform(translateX(45px));
          }
          &.right-space {
            @include transform(translateX(-45px));
          }
        }
        .main-image {
          @include media-breakpoint-down(md) {
            img {
              width: 55px;
            }
          }
        }
      }
    }
    .box-service-opened {
      background-color: white;
      @include media-breakpoint-down(sm) {
        opacity: 1;
      }
      @include media-breakpoint-up(md) {
        background-color: transparent;
        position: absolute;
        top: 50%;
        width: 100%;
        z-index: 1;
        @include transform(translateY(-50%));
      }
      .box-service-opened-wrap {
        margin: 0 auto;
        text-align: center;
        position: relative;
        z-index: 2;
        figure {
          margin: 0;
          &.ico-service {
            img {
              max-height: 65px;
              @include media-breakpoint-up(md) {
                max-height: 125px;
              }
            }
            figcaption {
              font-family: $font-family-bold;
              margin-top: 8px;
              font-size: 10px;
              color: $c-dark-gray;
              &.force-black {
                color: black;
              }
              @include media-breakpoint-up(md) {
                font-size: 20px;
              }
            }
          }
        }
        .desc-service {
          p {
            color: black;
            @include media-breakpoint-up(md) {
              color: white;
            }
          }
        }
        .box-service-opened-content {
          padding: 40px 0;
          @include media-breakpoint-up(md) {
            padding: 0;
            max-width: 450px;
            margin: 0 auto;
          }
        }
      }
    }
    .box-service-content {
      position: relative;
    }
    .number-service {
      h5 {
        font-size: 110px;
        line-height: 1.5;
        color: white;
        font-family: $font-family-bold;
        @include media-breakpoint-up(md) {
          font-size: 200px;
          line-height: 1;
        }
      }
    }
    .desc-service {
      text-align: left;
      line-height: 1.1;
      p, h4 {
        font-size: 12px;
      }
      .title-service {
        h4 {
          text-transform: uppercase;
          font-family: $font-family-bold;
          color: $c-black;
        }
      }
      p {
        color: white;
      }
      @include media-breakpoint-up(md) {
        p, h4 {
          font-size: 20px;
        }
      }
    }
  }
  &.with-arrow {
    @include media-breakpoint-up(md) {
      position: relative;
      margin-bottom: 145px;
      &:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -145px;
        margin-left: -545px;
        width: 0;
        height: 0;
        border: 0 solid transparent;
        border-left-width: 245px;
        border-right-width: 245px;
        border-top: 145px solid rgba($c-green-medium, .5);
      }
    }
  }
  .view-more {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 90px;
    z-index: 5;
    a {
      @include transform-origin(0px 0px);
      @include transform(rotate(270deg) translateX(-100%));
      background-color: $c-medium-dark;
      color: white;
      width: 500px;
      height: 90px;
      text-align: center;
      line-height: 90px;
      padding: 0;
      letter-spacing: 2px;
      font-size: 22px;
    }
  }
  .title-section {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 30px;
    background-color: $c-medium-dark;
    z-index: 5;
    &:after {
      content: "";
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-bottom-width: 250px;
      border-top-width: 250px;
      border-left: 112px solid $c-medium-dark;
      position: absolute;
      top: 0;
      left: 30px;
    }
    h5 {
      @include transform-origin(0px 0px);
      @include transform(rotate(270deg) translateX(-100%));
      width: 500px;
      height: 30px;
      text-align: center;
      padding: 0;
      color: white;
      letter-spacing: 2px;
      font-size: 22px;
      position: relative;
      margin-left: 40px;
      z-index: 6;
    }
  }
}
