#contact-section {
  height: 500px;
  @include media-breakpoint-up(md) {
    height: 620px;
  }
}

#googlemaps {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute !important;
  @include media-breakpoint-up(md) {
    position: relative !important;
    height: 100%;
  }
  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(black, .75);
  }
}

#box-contact {
  position: relative;
  @include media-breakpoint-up(md) {
    @include transform(translateY(-50%));
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
  }
  .body-contact {
    h4 {
      text-align: center;
      font-size: 35px;
      color: white;
    }
    .box-contact-wrap {
      padding-top: 60px;
      width: 270px;
      margin: 0 auto;
      .box-contact-single {
        height: 50px;
        background-repeat: no-repeat;
        background-position: left center;
        margin-bottom: 25px;
        &:last-child {
          margin-bottom: 0;
        }
        &.contact-address {
          background-image: url('../images/contact-address.svg');
          padding-left: 60px;
        }
        &.contact-phone {
          background-image: url('../images/contact-phone.svg');
          padding-left: 65px;
        }
        &.contact-email {
          background-image: url('../images/contact-email.svg');
          padding-left: 75px;
        }
        &.contact-web {
          padding-left: 60px;
          background-image: url('../images/contact-web.svg');
        }
        p, a {
          color: white;
          font-size: 12px;
        }
        a {
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .buttons-contact {
        margin-top: 65px;
        a {
          font-size: 14px;
        }
      }
    }
  }
}
