#contact-section {
  @include media-breakpoint-up(md) {
    height: 620px;
  }
}

#googlemaps {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute !important;
  @include media-breakpoint-up(md) {
    position: relative !important;
    height: 100%;
  }
  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(black, .75);
  }
}

#box-contact {
  position: relative;
  @include media-breakpoint-up(md) {
    @include transform(translateY(-50%));
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
  }
  .body-contact {
    h4 {
      font-family: $font-family-bold;
      text-align: center;
      font-size: 35px;
      color: white;
    }
    .box-contact-wrap {
      padding-top: 60px;
      width: 270px;
      margin: 0 auto;
      img {
        display: block;
        width: 38px;
        margin: 0 auto;
      }
      .single-contact {
        margin-bottom: 25px;
        p, a {
          color: white;
          font-size: 14px;
          font-family: $font-family-light;
        }
        a {
          &:hover {
            text-decoration: underline;
          }
        }
        .contact-body {
          padding-left: 20px;
        }
        // &.contact-address {
        //   img {
        //     width: 28px;
        //   }
        //   .contact-body {
        //     padding-left: 0;
        //   }
        // }
        // &.contact-phone {
        //   img {
        //     width: 36px;
        //   }
        //   .contact-body {
        //     padding-left: 5px;
        //   }
        // }
        // &.contact-email {
        //   img {
        //     width: 48px;
        //   }
        //   .contact-body {
        //     padding-left: 12px;
        //   }
        // }
        // &.contact-web {
        //   img {
        //     width: 37px;
        //   }
        //   .contact-body {
        //     padding-left: 6px;
        //   }
        // }
      }
      .buttons-contact {
        margin-top: 65px;
        a {
          font-size: 14px;
        }
      }
    }
  }
}
