$panel-gray: #ebebeb;
$panel-gray1: #F5F5F7;
$panel-gray2: #E2E1E6;
$panel-gray3: #EAEBED;

.panel-team {
	position: relative;
	.wrap-boxes-team {
		width: 1320px;
		margin: 0 auto;
		.content-boxes-team {
			@include transform(translateX(110px));
		}
	}
	.main-boxes-team {
		padding: 32px 0 55px;
	}
	.boxes-team {
		.box-team {
			position: relative;
			width: 220px; 
			height: 127.02px;
			background-color: #ffffff;
			margin: 31px 0;
			border-right: solid 2px $panel-gray;
			float: left;
			@include transition(.5s);
			&:before, &:after {
				content: "";
				position: absolute;
				z-index: 1;
				width: 155.56px;
				height: 155.56px;
				background-color: inherit;
				left: 31.2183px;
				@include transform(scaleY(0.5774) rotate(-45deg));
			}
			&:before {
				top: -77.7817px;
				border-top: solid 2.8284px $panel-gray;
				border-right: solid 2.8284px $panel-gray;
			}
			&:after {
				bottom: -77.7817px;
				border-bottom: solid 2.8284px $panel-gray;
				border-left: solid 2.8284px $panel-gray;
			}
			&:first-child {
				border-left: solid 2px $panel-gray;
			}
			&.gray-1 {
				background-color: $panel-gray1;
			}
			&.gray-2 {
				background-color: $panel-gray2;
			}
			&.gray-3 {
				background-color: $panel-gray3;
			}
			&.box-team-last {
				margin-left: 220px;
			}
			&:not(:empty) {
				cursor: pointer;
				&:hover {
					.media-container {
						.media-content {
							opacity: 1;
							@include transition(1s);
							@include transform(translate3d(0, 0, 0));
						}
					}
				}
			}
			.single-panel {
				text-align: left;
				position: absolute;
				z-index: 2;
				bottom: 0;
				left: 35px;
				right: 35px;
			}
			.box-team-name {
				font-family: $font-family-bold;
				font-size: 18px;
				text-transform: uppercase;
			}
			.box-team-rol {
				font-family: $font-family-light;
				font-size: 14px;
				text-transform: uppercase;
				letter-spacing: 2px;
			}

			.media-container {
				position: absolute;
				width: 600px;
				height: 400px;
				top: 0;
				opacity: .9;
				pointer-events: none;
				z-index: 3;
				left: 50px;
				@include transform(translateY(-50%));
				.media-content {
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					overflow: hidden;
					opacity: 0;
					// @include transform(translate3d(-10px, 10px, 0px));
					.media {
						width: 65%;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						background-position: center;
						background-size: cover;
					}
				}
			}

			&.box-team-animation-1 {
				.media-container {
					.media-content {
						@include transform(translate3d(-10px, 10px, 0px));
					}
				}
			}
			&.box-team-animation-2 {
				.media-container {
					.media-content {
						@include transform(translate3d(-10px, -10px, 0px));
					}
				}
			}
			&.box-team-animation-3 {
				.media-container {
					.media-content {
						@include transform(translate3d(10px, 10px, 0px));
					}
				}
			}
			&.box-team-animation-4 {
				.media-container {
					.media-content {
						@include transform(translate3d(10px, -10px, 0px));
					}
				}
			}
			&.box-team-animation-5 {
				.media-container {
					.media-content {
						@include transform(translate3d(-10px, 10px, 0px));
					}
				}
			}
			&:nth-child(5) {
				.media-container {
					left: -250px;
				}
			}

		}
		&:nth-child(even) {
			margin-left: 110px;;
		}
	}
}