#services-process-nav {
  padding: 100px 0;
  .box-nav-process {
    position: relative;
    padding: 60px 0;
    cursor: pointer;
    outline: none;
    &:hover {
      .box-nav-number {
        background-color: $c-green;
      }
    }
    &.slick-current {
      .box-nav-number {
        background-color: $c-green-medium;
      } 
      .box-nav-text {
        span {
          color: black;
        }
      }
    }
    &:after {
      position: absolute;
      z-index: 1;
      content: "";
      left: 0;
      right: 0;
      // linear-gradient(to top, rgba(0,0,0,.7), transparent);
       // @include linear-gradient(to top, rgba(0,0,0,.7), rgba(255,255,255,0));
      // @include linear-gradient(to top, transparent, rgba(0,0,0,.7));
      background-image: linear-gradient(to right, $c-green 33%, rgba(255,255,255,0) 0%);
      background-position: bottom;
      background-size: 11px 1px;
      background-repeat: repeat-x;
      height: 1px;
      bottom: 50%;
    }
    .box-nav-number {
      width: 50px;
      height: 50px;
      margin: 0 auto;
      border-radius: 50%;
      background-color: $c-medium-dark;
      text-align: center;
      position: relative;
      z-index: 2;
      span {
        display: block;
        line-height: 50px;
        font-size: 20px;
        color: white;
      }
      &:before {
        position: absolute;
        content: "";
        width: 1px;
        left: 50%;
        height: 16px;
        bottom: -16px;
        background-color: $c-light-gray;
      }
    }
    .box-nav-text {
      @include transform(translateX(-50%));
      position: absolute;
      bottom: 0;
      left: 50%;
      text-align: center;
      width: 100%;
      span {
        font-size: 13px;
        text-transform: uppercase;
        color: $c-light-gray;
        line-height: 14px;
      }
    }
    &.box-nav-top {
      .box-nav-text {
        top: 0;
        bottom: auto;
      }
      .box-nav-number {
        &:before {
          top: -16px;
          bottom: auto;
        }
      }
    }
  }
}