$test-green: #3befe9;

#main-slider {
    height: auto;
    @include media-breakpoint-up(md) {
        height: 100%;
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      box-shadow: inset 0 40px 100px -20px rgba(black,0.5);
      z-index: 1;
    }
    .swiper-slide {
        overflow: hidden;
    }
    .main-banner-bg {
        height: 100%;
        position: relative;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        margin: 0;
        @include media-breakpoint-down(sm) {
            background-image: none !important;
        }
        img {
            width: 100%;
        }
    }
    .main-banner-content {
      background-color: rgba(black, .7);
      position: absolute;
      bottom: 7px;
      right: 0;
      color: white;
      text-align: center;
      left: 0;
      h3 {
          // font-family: $font-family-antonio-bold;
          font-size: 17px;
      }
      p {
          // font-family: $font-family-antonio;
          font-size: 12.5px;
      }
      @include media-breakpoint-up(md) {
          text-align: right;
          width: 600px;
          left: auto;
          bottom: 32px;
          h3 {
              font-size: 28px;
          }
          p {
              font-size: 22px;
          }
      }
      .main-banner-wrapper {
        position: relative;
        width: 100%;
        line-height: 18px;
        padding: 8px 30px;
        @include media-breakpoint-up(md) {
          height: 180px;
          padding: 0 90px 0 0;
          line-height: 30px;
          &:after {
            position: absolute;
            content: "";
            border-color: transparent rgba(black, .7) transparent transparent;
            border-width: 90px 50px 90px 0;
            border-style: solid;
            left: -50px;
            top: 0;
            bottom: 0;
          }
        }
      }
    }
    .swiper-button-next, .swiper-button-prev {
      width: 61px;
      height: 105px;
      background-size: 100%;
    }
}

#main-section {
    position: relative;
    z-index: 1;
    .top-triangle {
      position: absolute;
      left: -175px;
      top: 0;
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-left-width: 270px;
      border-right-width: 270px;
      border-top: 160px solid rgba($test-green, 0.4);
      z-index: 2;
      @include media-breakpoint-up(lg) {
        left: -90px;
      }
    }
}

#review-section {
  padding: 25px 25px;
  @include media-breakpoint-up(md) {
    padding: 75px 25px;
  }
  .peru-green {
    margin: 0;
    img {
      width: 70px;
      @include media-breakpoint-up(md) {
        width: auto;
      }
    }
  }
  .review-content {
    color: $c-gray;
    padding: 15px 0;
    font-size: 12px;
    text-align: center;
    font-family: $font-family-light;
    @include media-breakpoint-up(md) {
      font-size: 17px;
      text-align: left;
    }
  }
  .about-horizontal {
    img, svg {
      width: 161px;
    }
  }
  .about-vertical {
    img, svg {
      width: 160px;
      @include transform(rotate(270deg));
    }
  }
}

#home-services {
  .sticky-service {
    position: absolute;
    left: 0;
    width: 35px;
    top: 0;
    bottom: 0;
    background-color: $c-medium-dark;
    text-align: center;
    &-content {
      position: relative;
      height: 100%;
      width: 100%;
      h2 {
        @include transform(rotate(270deg));
        @include transform-origin(center);
        font-size: 20px;
        color: white;
        position: relative;
        z-index: 2;
        letter-spacing: 2px;
        margin-left: -10px;
      }
      &:after {
        position: absolute;
        content: "";
        border-color: transparent transparent transparent $c-medium-dark;
        border-width: 195px 0 195px 110px;
        border-style: solid;
        right: -110px;
        top: 0;
        bottom: 0;
      }
    }
  }
  .sticky-more {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 90px;
    .btn-more {
      height: 100%;
      display: block;
      line-height: 390px;
      background-color: $c-dark-gray;
      color: white;
      span {
        @include transform(rotate(270deg));
        @include transform-origin(center);
        display: block;
      }
    }
  }
}
