$height-mobile: 190px;

#portfolio-2 {
  position: relative;
  padding-top: $height-mobile;
  padding-bottom: 0;
  @include media-breakpoint-up(md) {
    padding-top: 0;
    padding-bottom: 100px;
  }
  .grid-projects {
    overflow: hidden;
    position: relative;
    padding: 20px 34px;
    @include media-breakpoint-up(md) {
      @include transform(rotate(180deg));
      padding: 40px 0;
      height: 450px;
    }
  }
  .actions-projects {
    height: $height-mobile;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    border-bottom: 1px solid $c-gray-light;
    @include media-breakpoint-up(md) {
      border-bottom: medium none;
      height: auto;
      position: relative;
    }
    .filter-projects {
      text-align: center;
      a {
        color: $c-black;
        font-size: 14px;
        font-family: $font-family-bold;
        padding: 10px 20px;
        background-color: $c-gray-light;
        width: 50%;
        float: left;
        &.active {
          background-color: white;
        }
        &.brw {
          border-right: 1px solid white;
        }
        &.blw {
          border-left: 1px solid white;
        }
        @include media-breakpoint-up(md) {
          float: none;
          width: auto;
          background-color: transparent;
          &:hover, &.active {
            color: $c-green-regular;
          }
        }
      }
    }
    .sort-projects {
      padding: 20px;
      @include media-breakpoint-up(md) {
        padding: 0;
        text-align: center;
      }
      .sort-option {
        display: block;
        margin: 5px 0;
        position: relative;
        @include media-breakpoint-up(md) {
          display: inline-block;
        }
        &.active {
          &:before {
            background-image: url('./../images/bullet-active.png');
          }
          label {
            color: $c-green-regular;
          }
        }
        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          background-image: url('./../images/bullet-desactive.png');
          width: 26px;
          height: 28px;
        }
      }
      label {
        display: inline-block;
        color: $c-gray;
        font-size: 16px;
        font-family: $font-family-roman;
        padding-left: 35px;
        cursor: pointer;
        margin: 0;
        height: 28px;
        line-height: 28px;
        input[type="radio"] {
          clip: rect(0,0,0,0);
          pointer-events: none;
          position: absolute;
        }
        @include media-breakpoint-up(md) {
          font-size: 12px;
          font-family: $font-family-bold;
        }
      }
    }
  }
}