#portfolio {
  position: relative;
  padding-top: 50px;
  padding-bottom: 0;
  @include media-breakpoint-up(md) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .widget-filter {
    padding: 35px 0;
    border-bottom: 3px dotted #ddd;
    &:first-child {
      padding-top: 0;
    }
    h2.title-widget {
      color: #202020;
      font-size: 30px;
      margin-bottom: 25px;
    }
  }
  .list-bullet {
    li {
      cursor: pointer;
      line-height: 28px;
      padding-left: 40px;
      position: relative;
      margin: 10px 0;
      span {
        color: #858585;
        font-size: 22px;
      }
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background-image: url('./../images/bullet-desactive.png');
        width: 26px;
        height: 28px;
      }
      &:hover, &.active {
        span {
          color: #383737;
        }
        &:before {
          background-image: url('./../images/bullet-active.png');
        }
      }
    }
  }
  .shape-shuffle-container {
    // overflow: hidden;
    position: relative
  }
  .single-project {
    height: auto;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
    .aspect {
      cursor: pointer;
      margin: 0 5px;
      position: relative;
      height: 140px;

      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    .single-title {
      color: #383737;
      font-size: 18px;
      margin: 3px 5px 0;
    }
    &:hover {
      z-index: 2;
      .media-container {
        .media-content {
          opacity: 1;
          @include transition(1s);
          @include transform(translate3d(0, 0, 0));
        }
      }
    }
    .media-container {
      position: absolute;
      width: 350px;
      height: 210px;
      bottom: 12px;
      opacity: .9;
      pointer-events: none;
      z-index: 3;
      left: 20px;
      .media-content {
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
        left: 0;
        opacity: 0;
        .media {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-position: center;
          background-size: cover;
        }
        .media-detail {
          position: absolute;
          bottom: 5px;
          right: -80px;
          background-color: black;
          padding: 3px 25px;
          span {
            text-transform: uppercase;
            color: white;
            font-size: 16px;
          }
        }
      }
    }
    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
      .media-container {
        bottom: 0;
        top: 12px;
      }
    }
    &:nth-child(6n - 2), &:nth-child(6n - 1), &:nth-child(6n) {
      .media-container {
        left: auto;
        right: 20px;
        .media-detail {
          right: auto;
          left: -80px;
        }
      }
    }
    &:nth-child(4), &:nth-child(5), &:nth-child(6) {
      .media-container {
        bottom: 0;
        top: 12px;
        left: auto;
        right: 20px;
      }
    }
  }
}