doctype html
html(lang='es')
  include includes/head.pug
  body
    include includes/header.pug

    section#main-section.fluid-full-section
      #main-slider.swiper-container.swiper-button-white
        .swiper-wrapper
          mixin main-slide(title, content)
            .swiper-slide
              figure.main-banner-bg(style="background-image: url(images/home/banner1.jpg)")
                img(src="images/home/banner1.jpg").d-md-none
              .main-banner-content
                .main-banner-wrapper
                  .d-table
                    .d-table-cell
                      h3= title
                      p= content
          - var n = 0;
          - var banner = {title: 'LOREM IPSUM LAUDATUM',content: 'dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'}
          while n < 4
            - n++
            +main-slide(banner.title + ' ' + n, banner.content)
        .swiper-button-next
        .swiper-button-prev
      .top-triangle.d-none.d-md-block

    section#review-section.fluid-section
      .container-fluid
        .row
          .col-12.col-md-2.text-center
            .d-table
              .d-table-cell
                .d-block.d-md-none
                  .about-horizontal
                    include ./includes/logo.pug
                .d-none.d-md-block
                  .about-vertical
                    include ./includes/logo.pug
          .col-12.col-md-7
            .review-content
              p Somos un equipo de arquitectos e ingenieros especializados en <b>Arquitectura Corporativa</b> y <b>Comercial</b>, desarrollamos los proyectos en un ambiente coloborativo el cual permite una mejor comunicación entre nuestras áreas, logrando objetivos para los proyectos que nos son confiados. Pertenecemos al grupo de <b>PGBC</b>, el ser socios estratégicos fomentamos y brindamos <b>soluciones que cuiden el medio ambiente</b> acortando el tiempo de retorno a la inversión realizada por cada proyecto. Nuestra experiencia como equipo se ve reflejada en todos nuestros proyectos, los cuales son realizadas de manera <b>personalizada</b> según la <b>necesidad de tiempo</b> y <b>costo</b>.
          .col-12.col-md-3.text-center
            .d-table
              .d-table-cell
                figure.peru-green
                  img(src="images/peru-green.png")

    section#home-services.fluid-section
      .boxes-services
        .d-none.d-lg-block.title-section
          h5 SERVICIOS
        .box-service.box-architecture
          .box-service-wrapper
            .box-service-wrap.box-service-toggle
              .box-service-wrap-content
                .row.no-gutters
                  .col-3
                    .d-table
                      .d-table-cell
                        figure
                          img(src="images/architecture.png")
                  .col-3
                    .number-service
                      h5 1
                  .col-6
                    .d-table
                      .d-table-cell
                        .desc-service
                          .title-service
                            h4 ARQUITECTURA
                          .desc-service
                            p Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        .box-service.box-construction
          .box-service-wrapper
            .box-service-wrap.box-service-toggle
              .box-service-wrap-content
                .row.no-gutters
                  .col-3
                    .d-table
                      .d-table-cell
                        figure
                          img(src="images/construction.png")
                  .col-3
                    .number-service
                      h5 2
                  .col-6
                    .d-table
                      .d-table-cell
                        .desc-service
                          .title-service
                            h4 CONSTRUCCIÓN
                          .desc-service
                            p Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        .d-none.d-lg-block.view-more
          a.btn.btn-black(href="./servicios.html") VER MÁS
    section#brands-section.fluid-section
      .wrap-brands
        .wrap-brands-container.swiper-button-black
          #brands-slider.swiper-container
            .swiper-wrapper
              .swiper-slide
                .brand-slide
                  .d-table
                    .d-table-cell
                      img(src="images/brands/informese.png")
              .swiper-slide
                .brand-slide
                  .d-table
                    .d-table-cell
                      img(src="images/brands/juan-valdez.png")
              .swiper-slide
                .brand-slide
                  .d-table
                    .d-table-cell
                      img(src="images/brands/kfc.png")
              .swiper-slide
                .brand-slide
                  .d-table
                    .d-table-cell
                      img(src="images/brands/ministerio-de-educacion.png")
              .swiper-slide
                .brand-slide
                  .d-table
                    .d-table-cell
                      img(src="images/brands/osinergmin.png")
          .swiper-button-next
          .swiper-button-prev

    section#comunity-section.fluid-section
      .container
        #comunnity-slider.swiper-container
          .swiper-wrapper
            .swiper-slide
              .row
                .col-12.col-md-4
                  figure.comunnity-img
                    img(src="images/testi1.png")
                .col-12.col-md-8
                  .comunnity-wrapper
                    .comunnity-content
                      p “Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.”
                    .comunnity-desc
                      .comunnity-name JENNIFER WALTERS
                      .comunnity-role GERENTE GENERAL ST.GUCHÓN
            .swiper-slide
              .row
                .col-12.col-md-4
                  figure.comunnity-img
                    img(src="images/testi1.png")
                .col-12.col-md-8
                  .comunnity-wrapper
                    .comunnity-content
                      p “Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.”
                    .comunnity-desc
                      .comunnity-name JENNIFER WALTERS
                      .comunnity-role GERENTE GENERAL ST.GUCHÓN
            .swiper-slide
              .row
                .col-12.col-md-4
                  figure.comunnity-img
                    img(src="images/testi1.png")
                .col-12.col-md-8
                  .comunnity-wrapper
                    .comunnity-content
                      p “Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.”
                    .comunnity-desc
                      .comunnity-name JENNIFER WALTERS
                      .comunnity-role GERENTE GENERAL ST.GUCHÓN
          .swiper-pagination

    section#contact-section.fluid-section
      .main-wrapper
        #googlemaps
        #box-contact
          .body-contact
            h4 CONTÁCTANOS
            .box-contact-wrap
              .row.no-gutters.justify-content-between.align-items-center.single-contact
                .col-2.contact-address
                  img(src="./images/contact-address.svg")
                .col-9
                  p Av. Cotralmirante Montero<br /> N° 421 Of. 6D - Magdalena del Mar
              .row.no-gutters.justify-content-between.align-items-center.single-contact
                .col-2.contact-phone
                  img(src="./images/contact-phone.svg")
                .col-9
                  p (51) 01-715672
              .row.no-gutters.justify-content-between.align-items-center.single-contact
                .col-2.contact-email
                  img(src="./images/contact-email.svg")
                .col-9
                  a(href="mailto:jgalindo@craft.com.pe") jgalindo@craft.com.pe
              .row.no-gutters.justify-content-between.align-items-center.single-contact
                .col-2.contact-web
                  img(src="./images/contact-web.svg")
                .col-9
                  p
                    a(href="http://www.craft.com.pe") craft.com.pe

    include includes/footer.pug
    script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBX4D2ABvJBlhKbjCE5vOF2PAr9fjDRp7I")
    script(src="js/index.js",type="text/javascript")
